html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.gray {
  background-color: #495057;
}

.green1 {
  color: rgb(2, 171, 2);
}

.green2 {
  background-color: #96c93e;
}

.green3 {
  background-color: #29a744;
}

.gris {
  color: #adb5bd;
}

.bgblue {
  background-color: #1d3947;
}

.blue {
  width: 98%;
  padding: 0.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: #cde1f5;
}

.img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.container-absolute {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.5);
}

.container-absolute h1 {
  top: 40%;
  right: 10%;
  color: white;
}

.container-absolute .texto {
  width: 500px;
  top: 50%;
  right: 10%;
  color: white;
}

.container-absolute .buttons {
  width: 400px;
  height: auto;
  top: 72%;
  right: 10%;
}

.container-absolute p {
  text-align: right;
}

.card {
  width: 400px;
  height: 600px;
}

.card img {
  width: 100%;
  height: auto;
}

.honolulu {
  object-fit: cover;
}

.info1,
.info2 {
  width: 50%;
}

footer,
footer div {
  height: auto;
}

footer {
  margin-top: 7.6rem;
}

.categories {
  margin-top: 5rem;
}

.padding {
  padding: 2rem;
}

@media (max-width: 600px) {
  .container-absolute .texto {
    width: 300px;
  }

  .container-absolute .buttons {
    top: 90%;
  }

  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .info1,
  .info2 {
    width: 100%;
  }

  .cuadrados {
    flex-direction: column;
  }

  .padding {
    padding: 0.7rem;
  }

  footer div {
    flex-direction: column;
  }
}

@media (max-width: 1180px) {
  footer {
    margin-top: 8rem;
  }
}
